 <%- include('./layouts/header'); %>

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">所有用户</strong> / <small>all-user</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
            </div>
            <div class="am-form-group am-margin-left am-fl">
            </div>
          </div>
        </div>
      </div>
      
      <div class="am-u-md-3 am-cf">
      <form class="am-form" method="get" action="/all-user.html">
        <div class="am-fr"><!--  <label for="lab-name">姓名:</label>  -->
          <div class="am-input-group am-input-group-sm">
            <input id='lab-name' type="text" placeholder="输入用户姓名" class="am-form-field" name='name' value="">
                <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="submit">搜索</button>
                </span>
            
          </div>
        </div></form> 
      </div>
       
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-id">ID</th><th class="table-title">姓名/Name</th><th class="table-date">电子邮件/Email</th><th class="table-date">手机号/mobile</th><th class="table-set">QQ</th><th class="table-date">添加时间/addTime</th>
              </tr>
          </thead>
          <tbody>

           <% for(var i=0;i<users.length;i++){ %>
            <tr>
                <td><%=i+1%></td>
                
                <td><a href="#"><%=users[i].name%></a></td>
                
                <td>
                    <%=users[i].email%>
                </td>
                <td>
                    <%=users[i].mobile%>
                </td>
                <td>
                    <%=users[i].QQ %>
                </td>
                <td>
                    <%=users[i].addTime%>
                </td>
     

            </tr>
            <% }; %>

             

           

         <!--     <tr>
             
              <td>13</td>
              <td><a href="#">Business management</a></td>
              <td>default</td>
              <td>测试1号</td>
              <td>2014年9月4日 7:28:47</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs"><span class="am-icon-copy"></span> 复制</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>  -->
          
          </tbody>
        </table>
          <div class="am-cf">
  共 <%=count%> 条记录
  <div class="am-fr">
    <ul class="am-pagination">

<% if (total) {%>
                    <li class=""><a href="/all-user.html?limit=15&pagenumber=1" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <% for(var i=1;i<=total;i++){%>
                             <%if(pageNumber==i){%>
                        <li class="am-active">
                    <%} else{%>
                     <li>
                      <%}%>
                            <a href="/all-user.html?limit=15&pagenumber=<%=i%>">
                                <%=i%><span class="sr-only"></span></a>
                        </li>
                        <%}%>
                            <li class="">
                                <a href="/all-user.html?limit=15&pagenumber=<%=total%>" > &raquo;</a>
                                <li>
                                    <% }%>

      
    
    </ul>
  </div>
</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
 <%- include('./layouts/footer'); %>